.favorites-container{
    display:flex;
    justify-content: center;
    flex-direction: column;
}
.favorites-box{
    display:flex;
    justify-content: center;
    align-items: center;
    /* margin-top: 20px; */
    margin-bottom:20px;
    background-color: #573C67;
}
.favorite-title{
    display:flex;
    justify-content: center;
    align-items: center;
    color:white;
    background-color: #573C67;
    margin-top: 20px;
    margin-bottom:20px;
    width:30%
}

.fav-container{
    display: flex;
    justify-content: space-around;
    align-items: space-around;
    flex-wrap: wrap;
}

.buttons{
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: #573C67;
    color:white;
}

.Button:hover{
    background-color:#9268aa ;
}