@import url('https://fonts.googleapis.com/css2?family=Encode+Sans:wght@300&display=swap');

.grid-container{
    box-sizing:border-box;
    display:grid;
    grid-template-rows: 30vh 30vh 30vh;
    grid-template-columns: 25% 25% 50%;
    justify-content: center;
    object-fit: cover;
}

.grid{
    border: 6px solid white;
    display:flex;
    justify-content: center;;
    align-items: center;
    font-size: large;
    font-weight: 900;
    object-fit: contain;
    background-position: center;
    background-repeat: no-repeat;
}


.image{
    background-image: url("https://static.vecteezy.com/system/resources/previews/000/242/523/non_2x/vector-kayak-downing-waterfall.jpg");
    background-size: cover;

}
.box1{
    filter:hue-rotate(90deg);
}

.box6{
    filter:hue-rotate(90deg);
}

.box5{
    filter:hue-rotate(90deg);
}

.box3{
    grid-row: span 3;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color:white;
    font-family: 'Encode Sans', sans-serif;
    background-color: #75b1b1;
}

.title{
    font-size: 40px;
}
