* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.overall-container{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.weather-title-box{
    /* background: #75b1b1; */
    color: white;
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    border: 5px solid white;
    width:80%;
    height: 40vh;
    min-height: 300px;
}

.river-detail-box{
    border: 2px solid pink;
    width:50%;
    height: 30vh;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 300px;
}

.weather-box{
    border: 2px solid pink;
    width:50%;
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 300px;
}

.textfield{
    display:'flex';
    justify-content: 'center';
    align-items: 'center';
    color:white;
    width:100%
}
.text-p{
    display: flex;
    justify-content: center;
    align-items: center;
}
.submission-area{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:80%
}
.input{
    resize: none;
    height:100px;
    width:100%;
    border: 3px solid #573C67;
}

.comments{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color:#2e878e;
    color:white;
    font-size: 20px;
    padding: 10px;
    border:3px solid #573C67;
    margin: 2px;
    width:80%
}

.comment-container{
    width:100%;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.date{
    font-size:10px;

}