.sub-container{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color:white;
    padding-top:20px;
    padding-bottom:20px;
    border:3px solid white;
    background-color: #75b1b1;
}

.Button{
    color:white;
}

.form-container{
    color:white;
}

.main-container{
    background-image: url("https://thumbs-prod.si-cdn.com/qO3iy9tRW6Yd1kbgItdFwVU344E=/fit-in/1600x0/https://public-media.si-cdn.com/filer/f3/2a/f32a326a-5cff-48b4-98df-a8df54108b03/usa_48_rivers_black_catchments_draft.png");
    opacity: .7;
    background-attachment: fixed;
    background-position: center;
    background-repeat: repeat;
    background-size: contain;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-y: scroll;
}

.river-box{
    font-family: Arial, Helvetica, sans-serif;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    color:white;
    font-weight: bolder;
    font-size: 20px;
    /* background: black; */
    /* filter:invert(0) */
}