.title-element{
    display:flex;
    justify-content: center;
    align-items:space-around;
    color:white;
    padding:20px;
    background-image: url('https://wi-images.condecdn.net/image/doEYpG6Xd87/crop/2040/f/weather.jpg');
    background-size: contain;
    height:300px;
    font-size: 35px;
}

.all-weather{
    display:flex;
    justify-content: space-around;
    align-items: center;
    background-color: #65B6E4;
    margin-top:-30px;
}
.weather-container{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height:300px;
    color: black;
    width:29%;
    border: 5px solid #28595A;
    border-radius: 25px;
    background-color: white;
    margin-bottom:30px;
}

.snapshot-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:15px;
}

.detailed-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    object-fit: contain;
    border: 2px solid black;
}

.all-weather{
    display:flex;
    flex-direction: row;
    flex-wrap:wrap
}

.current-day{
    font-size:20px;
    font-weight: bold;
    /* display:flex;
    justify-content: center;
    align-self: flex-start; */
}