@import url('https://fonts.googleapis.com/css2?family=Encode+Sans:wght@300&display=swap');
*{
  margin:0;
  font-family: 'Encode Sans', sans-serif;
}
body{
  background: #75b1b1;
}

/* #573C67 purple color */
/* #E27481 pink */
/* #819837 green */

/* #75b1b1 */